<div id="top-border"></div>
<nav class="nav">
    <a class="nav-link active" href="/">Forsiden</a>
    <a class="nav-link" href="news">Nyheds arkiv</a>
    <a class="nav-link" href="furniture">Møbler</a>
    <a class="nav-link" href="contact">Kontakt</a>
</nav>