<div id="top-border"></div>
<nav class="nav">
    <li><a class="nav-link active" href="/">Forsiden</a></li>
    <li><a class="nav-link" href="news">Nyheds arkiv</a></li>
    <li><a class="nav-link" href="furniture">Møbler</a></li>
    <li><a class="nav-link" href="contact">Kontakt</a></li>
</nav>