<div class="h3_forside">
    <p><%= content %></p>
</div>

<hr>

<img src="/images/sofa/brisbane_sort.jpg" class="sofa">

<br>
<p class="sub-header">Møbel serie:</p>
<p>Sofa</p>
<br>
<p class="sub-header">Designer:</p>
<p>Tove erkman</p>
<br>
<p class="sub-header">Designer år:</p>
<p>2004</p>
<br>
<p class="sub-header">Pris:</p>
<p>25 999 kr.</p>

<a href="" class="info">mere info:</a>

<div class="news_letter">
    <p>Tilmeld nyhedsbrev</p>
</div>


<hr>


<form>
    <div class="form-group">
        <input type="email" id="email" placeholder="E-mail">
    </div>
    <button type="button" class="btn btn-outline-secondary text-dark">Tilmeld</button>
    <button type="button" class="btn btn-outline-secondary text-dark">Frameld</button>
</form>

<div class="contact_header">
    <p>Kontakt oplysninger</p>
</div>

<hr>

<p>CMK Møbler</p>
<p>Espalanaden 52</p>
<p>2100 København V</p>

<div class="telefon_info">
    <p>Telefon</p>
    <p>3363 3363</p>
</div>

<p>Telefax</p>
<p>33 63 4108</p>