<% include ./partials/header %>
<% include ./partials/nav %>
<% include ./partials/sidebar %>

<form action="">

    <label for="">Navn</label>
    <input type="text">
    <label for="">Adresse</label>
    <input type="text">
    <label for="">Telefon</label>
    <input type="text">
    <label for="">E-mail</label>
    <input type="text">
    <label for="">Kommentar</label>
    <textarea name="" id="" cols="30" rows="10">Send</textarea>

</form>