<% include ./partials/header %>
<% include ./partials/nav %>
<% include ./partials/sidebar %>

<div class="dummy-text">
<form action="" id="search-form">
    <label for="vare_nr">Vare nr.</label>
    <input type="text">
    <button type="submit" class="btn btn-light">Søg</button>
    <label for="møbelserie">møbelserie:</label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Sofa
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Sofabord
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Spisestol
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Spisebord
        </label>
    </div>

    <label for="designer">Designer</label>

    <div class="form-group col-md-4">
        <select id="inputState">
            <option selected>Alle</option>
            <option>...</option>
        </select>
    </div>

    <label for="">Design år:</label>
</form>

</div>