<% include ./partials/header %>
<% include ./partials/nav %>
<% include ./partials/sidebar %>

<div class="header">
    <p><%= content %></p>
</div>

<hr>

<img src="/images/sofa/brisbane_sort.jpg" class="sofa">

<p class="sub-header-sidebar">Møbel serie:</p>
<p>Sofa</p>
<p class="sub-header-sidebar">Designer:</p>
<p>Tove erkman</p>
<p class="sub-header-sidebar">Designer år:</p>
<p>2004</p>

<p class="sub-header-sidebar">Pris:</p>
<p>25 999 kr.</p>
<a href="" class="info">mere info:</a>

<div class="news_letter">
    <p>Tilmeld nyhedsbrev</p>
</div>


<hr>


<form>
    <div class="form-group">
        <input type="email" id="email" placeholder="E-mail">
    </div>
    <button type="button" class="btn btn-outline-secondary text-dark">Tilmeld</button>
    <button type="button" class="btn btn-outline-secondary text-dark">Frameld</button>
</form>

<div class="contact_header">
    <p>Kontakt oplysninger</p>
</div>

<hr>

<p>CMK Møbler</p>
<p>Espalanaden 52</p>
<p>2100 København V</p>

<div class="telefon_info">
    <p>Telefon</p>
    <p>3363 3363</p>
</div>

<p>Telefax</p>
<p>33 63 4108</p>

<div class="dummy-text">
    <hr class="line-news">
    <h6>En salatskål - er ikke bare en salatskål...</h6>

    Nej, en salatskål fra det århusianske firma Ego skal være både flot, fræk og ikke mindst funktionel. Fx med en
    forhøjning i midten, hvor salatbestikket kan hvile, mener direktør i Ego, Michael Bruun, og designer Steffen
    Schmelling. Sammen står de bag en række lækre produkter til køkken og spisebord.
    - Vores design er lidt en reaktion på noget, der har været meget af, nmelig "holderen til holderen" - design for
    designets skyld. Det skal være super funktionelt og samtidig noget der overrasker brugeren, mener Michael Bruun.
    Både indkøbere og kunder har taget overmåde godt imod produkterne, som også møder succes internationalt, og de vil
    være at finde i butikkerne fra juni 2006.
    <hr class="line-news">
    
    <h6>Innovativ duo bag ny møbelkollektionh</h6>

    Danskproducerede møbler til "den moderne design- og kvalitetsbeviste forbruger", som ikke vil købe de samme
    møbler som sine forældre.Det er nyeste idé fra den 28-årige møbelarkitekt
    René Hovgaard og møbelmanden Jens Hornbak, 32. Sammen danner de firmaet dnmark, som lige nu er aktuel med en helt ny
    møbelkollektion, der sælges landet over.
    Kollektionen indeholder bl.a. Daybed i læder fra 25.500 kr., stolen Pablo fra 1375 kr. og bordet Hornsleth Café
    skabt i samarbejde med kunstneren Kristian von Hornsleth fra 3300 kr.
    <hr class="line-news">

    <h6>Formland 2006 - Potten i gummi fik prisen</h6>
    Pot for One Flower - vinder af Formland Prisen i foråret 2006. 10 farver, to stk. for 149 kr., Normann
    Copenhagen.
    En ganske lille, men alligevel helt innovativ urtepotte i gummi løb med Formland Prisen, der uddeles hvert halve år
    på messen Formland i Herning. Med prisen følger 100.000 kr. til markedsføring. Pot for One Flower, som vinderen
    hedder, er designet af
    Boris Berlin og Poul Christiansen fra Komplot
    Design for Normann Copenhagen. Fra dommer-komiteen lød det, at Normann tidligere har anvendt gummi til bl.a. en
    vaskebalje, et dørslag og en tragt, og nu fuldendes serien med et produkt til bordet.
    De to andre nominerede til Formland Prisen var et par solide børnemøbler fra firmaet Collect Furniture samt vasen
    Confetti fra Rosendahl. Møblerne er designet i skæve vinkler, der hindrer, at de vælter, og vasen er designet af Lin
    Utzon, der har dekoreret med forårsglade farver i nye sammensætninger.
    <hr class="line-news">
</div>