<% include ./partials/header %>
<% include ./partials/nav %>

<h2>Signup</h2>

<div class="container">
    <form id="signupform" method="POST" action="signup">
        <fieldset>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" required>
            <span id="emailError" style="color: red;"></span>
        </fieldset>
        <fieldset>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <span id="usernameError" style="color: red;"></span>
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <span id="passwordError" style="color: red;"></span>
        </fieldset>
        <button type="submit" class="btn btn-primary" id="signup-btn">Signup</button>
    </form>
</div>

<script>

    function validateInput(regExp, input, errorPlaceholder, errorMsg) {
        if(regExp.test(input.value)) {
            errorPlaceholder.innerHTML = '';
            return true;
        } else {
            errorPlaceholder.innerHTML = errorMsg;
            return false;
        }
    }
    
    const form = document.getElementById('signupform');
    form.addEventListener('submit', function (event) {
        const email = document.getElementById('email');
        const emailError = document.getElementById('emailError');
        const username = document.getElementById('username');
        const usernameError = document.getElementById('usernameError');
        const password = document.getElementById('password');
        const passwordError = document.getElementById('passwordError');

        let success = true;

        event.preventDefault();

         if (!validateInput(/@$/g, email, emailError, 'Your missing a @')
         ||  !validateInput(/d@$/g, username, usernameError, 'Theirs not allowed to be any nymbers in your username')
         ||  !validateInput(/.*\S.*/g, password, passwordError, 'Input field cant be empty')) {
                success = false;
         }

        if(success) {
            form.submit();
        }
        
    });
</script>