* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana;
}

#top-border {
    background: rgb(112, 112, 112);
    height: 54px;
}

a {
    color: #FF7200;
    font-family: Verdana;
    font-size: 11px;
}

li {
    border: 1px solid #FF7200;
    border-bottom: none;

}

a:hover {
    color: #FF7200;
}

p,
strong {
    margin: 1px 25px;
}

.sub-header-sidebar {
    font-size: 10pt;
    font-weight: bold;
}

strong {
    color: #FF7200;
}

.header {
    margin-top: 30px;
    color: #FF7200;
}

hr {
    border-top: dotted 1px;
    width: 15%;
    color: #FF7200;
}

.sofa {
    width: 12%;
    margin: 10px 12px;
}

.info {
    margin-left: 100px;
}

.btn {
    display: flex;
    margin-top: 10px;
}

form {
    margin: 10px 25px;
}

input,
textarea {
    display: flex;

}

label {
    margin-top: 20px;
}


.container {
    margin: -900px 300px;
}

.news_letter,
.contact_header {
    margin-top: 70px;
    color: #FF7200;
}

.telefon_info {
    margin-top: 30px;
}

#email {
    border: 1px #6c757d solid;
}

h6 {
    color: #FF7200;
    margin-left: 20px;
    font-size: 10pt;
}

.line {
    width: 70%;
    margin-top: 105px;
}

.line-news {
    margin-top: 103px;
    width: 93%;
}

.dummy-text {
    margin: -1094.7px 250px;
    line-height: 14px;
    white-space: pre;
    font-size: 10pt;
}

.opening-hours {
    white-space: pre;
    margin: -910px 249px;
}

#contact-form {
    margin: 900px 270px;
}

#search-form {}